* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', sans-serif;
}

.container {
    width: 100vw;
    /* height: 100vh; */

    display: grid;
    justify-content: center;
}

.card {
    max-width: 80%;
    border: 1px solid #000;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card__left, .card__right {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 10px;
}

.card__left > span {
    font-weight: 450;

}

.card__left > a {
    margin-top: 1rem;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.card__left > p {
    color: gray;
}

.card__right > img {
    width: auto;
    height: 50%;
    justify-items: cente;
}